*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #0E46A3;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #0E46A3;
}

h1 {
    font-family: 'comic sans ms';
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #0E46A3;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #0E46A3;
    border-radius: 20px;
    margin: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #B3C8CF;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;

}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.skill-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.daftar-skill {
    width: 30%;
    margin: 0 auto;
}

.daftar-skill img {
    width: 80%;
    border-radius: 70%;
}

.doc-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.daftar-doc {
    width: 40%;
    margin: 0 auto;
}

.daftar-doc img {
    width: 100%;
}

.education-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.daftar-sekolah {
    width: 20%;
    margin: 0 auto;
}

.daftar-sekolah img {
    width: 80%;
}

.daftar-sekolah p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #0E46A3;
}

.campus-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.daftar-campus {
    width: 100%;
    margin: 0 auto;
}

.daftar-campus img {
    width: 80%;
}

.daftar-campus p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #0E46A3;
}

.daftar-career p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #0E46A3;
}


.hobby-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.daftar-hobby {
    width: 30%;
    margin: 0 auto;
}

.daftar-hobby img {
    width: 80%;
}

.daftar-hobby p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #0E46A3;
}

.pets-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.daftar-pets {
    width: 80%;
    margin: 0 auto;
}

.daftar-pets img {
    width: 80%;
}

.daftar-pets p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #0E46A3;
}

.daftar-pets-2 {
    width: 50%;
    margin: 0 auto;
}

.daftar-pets-2 img {
    width: 50%;
    max-height: 70%;
    border-radius: 80%;
}

.daftar-pets-2 p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #0E46A3;
}

.achive-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.daftar-achive {
    width: 80%;
    margin: 0 auto;
}

.daftar-achive img {
    width: 90%;
}

.daftar-achive p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #0E46A3;
}

.contact-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.daftar-contact {
    width: 30%;
    margin: 0 auto;
}

.daftar-contact img {
    width: 80%;
}

.daftar-contact p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #0E46A3;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .daftar-skill {
        width: 50%;
    }

    .daftar-doc {
        width: 50%;
    }

    .daftar-sekolah {
        width: 50%;
    }

    .daftar-campus {
        width: 50%;
    }

    .daftar-career {
        width: 50%;
    }

    .daftar-hobby {
        width: 50%;
    }

    .daftar-pets {
        width: 50%;
    }

    .daftar-pets-2 {
        width: 50%;
    }

    .daftar-contact {
        width: 50%;
    }
}